<%= form_for(trip) do |f| %>
 <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timedep %>
    <%= f.datetime_select :timedep %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>

  <%= fields_for :destination, trip.destinations.build do |df| %>
    <div class="field">
      <%= df.label :point %>
      <%= df.text_field :point %>
    </div>

    <div class="field">
      <%= df.label :datearr %>
      <%= df.date_select :datearr %>
    </div>

    <div class="field">
      <%= df.label :timearr %>
      <%= df.time_select :timearr %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
