<p>
  <strong>From:</strong>
  <%= @trip.from %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Timedep:</strong>
  <%= @trip.timedep %>
</p>

<p>
  <strong>Timearr:</strong>
  <%= @trip.timearr %>
</p>

<p>
  <strong>Via:</strong>
  <%= @trip.via %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @trip.seats %>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>
<%= link_to 'Back', trips_path %>
