<p>
  <strong>From:</strong>
  <%= @trip.departure_point %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.ride_destination %>
</p>

<p>
  <strong>Timedep:</strong>
  <%= @trip.timedep %>
</p>

<p>
  <strong>Timearr:</strong>
  <%= @trip.ride_arrival_time %>
</p>

<p>
  <strong>Via:</strong>
  <%= @trip.route_points %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @trip.seats %>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>
<%= link_to 'Back', trips_path %>
