<%= form_for(ticket) do |f| %>
 <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, value: current_user.name, readonly: true %>
    </div>

    <div class="field">
      <%= f.label :from %>
      <%= f.select :from, @points %>
    </div>

    <div class="field">
      <%= f.label :to %>
      <%= f.select :to, @points  %>
    </div>

		<div class="field">
			<%= f.label :seatnum %>
			<%= f.number_field :seatnum, value: @seat, readonly: true  %>
		</div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.hidden_field :trip_id, value: @trip.id %>

    <div class="field">
      <%= f.label :booked %>
      <%= f.check_box :booked %>
    </div>

  <div class="actions">
    <%= f.submit 'Buy ticket', class: 'btn btn-primary' %>
  </div>
<% end %>
